pathlib~=1.0.1
requests~=2.32.5
pandas~=2.0.3
beautifulsoup4~=4.14.3
tqdm~=4.67.3
numpy~=1.26.4
billboard.py
librosa~=0.11.0
soundfile~=0.13.1
dotenv~=0.9.9
python-dotenv~=1.2.2
pydub~=0.25.1
db~=0.1.1
pyloudnorm~=0.2.0
essentia~=2.1b6.dev1177
vaderSentiment>=3.3.2
nrclex>=3.0.0
textstat>=0.7.3
pronouncing>=0.2.0
nltk>=3.8.1
gensim>=4.3.0
sentence-transformers>=2.6.0
torch>=2.0.0